.auth-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.auth-links {
    margin-top: 1rem;
    text-align: center;
}